.main-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-left: 3.2rem;
  padding-right: 3.2rem;

  background-color: #fff;
  border-bottom: solid 2px rgb(229, 229, 229);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(229, 229, 229);
  & > .logo {
    width: 12rem;
    margin-left: 2.4rem;
  }

  & > .main-menu {
    cursor: pointer;
    font-size: 22px;
    margin-right: 3.2rem !important;

    & > span {
      text-transform: uppercase;
    }
  }
}
