* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
a {
  color: inherit;
}
a:active {
  color: inherit;
}
a:hover {
  color: inherit;
}

img {
  width: 100%;
}

@import './upper.scss';
@import './main.scss';
@import './model1.scss';
@import './model2.scss';
@import './model3.scss';
@import './header.scss';
@import './footer.scss';
