* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  color: inherit;
}

a:active {
  color: inherit;
}

a:hover {
  color: inherit;
}

img {
  width: 100%;
}

.upper-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #eeeeee;
  padding: 0 2.3rem;
  padding-top: 4rem !important;
}

.upper-div__aside {
  margin: 1.2rem 3.7rem;
  width: 30%;
  margin-right: 0.1rem !important;
}

@media screen and (max-width: 886px) {
  .upper-div__aside {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
    padding: 0.3rem !important;
    margin: 0.1rem 0.5rem !important;
    width: 100%;
  }
  .upper-div__aside > div {
    padding: 0.2rem;
  }
}

@media screen and (max-width: 667px) {
  .upper-div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    padding: 0 0.2rem !important;
    padding-top: 3rem !important;
  }
}

.upper-div__img {
  width: 8rem;
  height: 4rem;
  margin: 2.6rem 0;
}

.upper-div__main-content {
  margin: 2.8rem 0;
}

.upper-div__main-content > p {
  line-height: 1.2rem;
  color: #525252;
}

.upper-div__main-content span {
  color: #ff5d27;
}

.upper-div__right {
  background-color: #e5e5e5;
  width: 70%;
  margin-right: 4rem;
  padding: 2rem 2rem;
}

@media screen and (max-width: 667px) {
  .upper-div__right {
    width: 100%;
    margin-right: 0 !important;
  }
}

.upper-div__right h3 {
  text-transform: uppercase;
  margin: 2.3rem 0;
}

.upper-div__right .percentages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 400px) {
  .upper-div__right .percentages {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
}

.upper-div__right .percentages__wrapper {
  background-color: #fff;
  padding: 0.7rem 1.4rem;
  border-radius: 0.7rem;
  color: #3e97ff;
}

@media screen and (max-width: 1030px) {
  .upper-div__right .percentages__wrapper {
    padding: 0.1rem 0.4rem !important;
  }
}

@media screen and (max-width: 667px) {
  .upper-div__right .percentages__wrapper {
    padding: 0.5rem 0.7rem;
  }
}

@media screen and (max-width: 400px) {
  .upper-div__right .percentages__wrapper {
    margin: 1.2rem 0;
  }
}

.upper-div__right .percentages__wrapper:first-child {
  color: #ffc320;
}

.upper-div__right .percentages__wrapper:last-child {
  color: #27be0b;
}

.upper-div__right .percentages__content {
  margin: 0.8rem 4rem;
}

@media screen and (max-width: 887px) {
  .upper-div__right .percentages__content {
    margin: 0.6rem 1.5rem;
  }
}

@media screen and (max-width: 667px) {
  .upper-div__right .percentages__content {
    margin: 0.5rem 1.2rem;
  }
}

.upper-div__right .percentages__content p {
  font-size: 24px;
}

.upper-div__right .percentages__content p span {
  color: #525252 !important;
  font-size: 12px;
}

.upper-div__right .percentages__content h4 {
  text-transform: uppercase;
}

.upper-div__colors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1.2rem 0;
  width: 100%;
  height: 1.2rem;
}

.upper-div__colors div {
  height: 100%;
  width: 33.3%;
  background-color: #3e97ff;
}

.upper-div__colors div:first-child {
  background-color: #ffc320;
}

.upper-div__colors div:last-child {
  background-color: #27be0b;
}

.upper-div .actions {
  background-color: #fff;
  width: 90%;
  margin: 1.2rem auto;
  border-radius: 0.6rem;
  text-align: center;
  padding: 0.8rem 0;
  color: #ff5d27;
  font-weight: 700;
  cursor: pointer;
}

.upper-div__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #bababa;
  text-transform: capitalize;
  cursor: pointer;
}

@media screen and (max-width: 667px) {
  .upper-div__button {
    display: none;
  }
}

.upper-div__button .button-icon {
  width: 1.7rem;
  height: 1.7rem;
  background-color: #bababa;
  border-radius: 50%;
  padding: 0.5rem;
}

.main-div {
  padding: 0 2.3rem;
}

.main-div__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.9rem 2.8rem;
}

@media (max-width: 667px) {
  .main-div__heading {
    display: none;
  }
}

.main-div__heading h1 {
  color: #000;
  font-weight: bold;
}

@media (max-width: 667px) {
  .main-div .display-small {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (min-width: 667px) {
  .main-div .display-small {
    display: none;
  }
}

.main-div__heading-mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 3rem 0;
}

@media (min-width: 667px) {
  .main-div__heading-mobile {
    display: none;
  }
}

.main-div__heading-mobile button {
  padding: 0.4rem 1.2rem;
  background-color: #eeeeee;
  border: none;
  border-radius: 0.3rem;
}

.main-div__menu {
  width: 60%;
}

.main-div__menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  color: #333333;
}

.main-div__menu ul li button {
  border: none;
  border-radius: 0.4rem;
  background-color: #eeeeee;
  padding: 0.5rem 1.2rem;
  cursor: pointer;
}

.main-div__main-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-div__aside {
  width: 30%;
}

@media (max-width: 667px) {
  .main-div__aside {
    display: none;
  }
}

.main-div__right {
  width: 70%;
  margin-right: 3.6rem;
}

@media (max-width: 667px) {
  .main-div__right {
    margin-right: 0.5rem;
    width: 100% !important;
  }
}

.main-div__image-wrapper {
  width: 50%;
}

.main-div__content-wrapper {
  width: 50%;
  margin-left: 1.5rem !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-div__content-wrapper .heading {
  font-size: 28px;
}

.main-div__content-wrapper .heading span {
  text-transform: uppercase;
  font-weight: bold;
}

.main-div__content-wrapper .middle-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-div__content-wrapper .middle-section div:first-of-type p {
  font-size: 20px;
  line-height: 2rem;
}

.main-div__content-wrapper .middle-section div:last-of-type {
  padding: 0 3rem;
  border: solid 1px #3e97ff;
  color: #3e97ff;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  max-height: 80px;
}

.main-div__content-wrapper .car-prices div:first-of-type * {
  font-size: 18px;
}

.main-div__content-wrapper .car-prices div:first-of-type span {
  font-size: 26px !important;
  color: #3e97ff;
}

.main-div__content-wrapper .car-prices div:last-of-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1.2rem 0;
  width: 100%;
  height: 0.5rem;
}

.main-div__content-wrapper .car-prices div:last-of-type div {
  width: 16%;
  margin-right: 0.4%;
  height: 100%;
  background-color: #cccccc;
}

.main-div__content-wrapper .car-prices div:last-of-type div:first-of-type {
  background-color: #3e97ff;
}

.main-div__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top: solid 2px #cccccc;
  padding-top: 1.5rem;
  margin-bottom: 1.5rem;
  cursor: pointer;
}

@media (max-width: 667px) {
  .main-div__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
  .main-div__container > div {
    width: 100% !important;
  }
}

.main-div__aside-container {
  margin-left: 2.4rem;
}

.main-div__aside-container h4 {
  color: #ff5d27;
  font-size: 24px;
  text-transform: uppercase;
  margin: 1.8rem 0;
}

.main-div__aside-container ul li {
  margin: 1.4rem 0 !important;
  font-size: 18px;
}

.main-div__aside-container ul li input {
  margin-right: 0.8rem !important;
}

.main-div__action-button {
  width: 100;
  background-color: #ff5d27;
  color: #fff;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.2rem 0;
  cursor: pointer;
  margin-bottom: 2rem;
}

.popup-model1 {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  display: none;
}

.popup-model1__wrapper {
  background-color: #fff;
  width: 80%;
  margin: 6rem auto;
  position: relative;
}

@media screen and (min-height: 1030px) {
  .popup-model1__wrapper {
    width: 600px;
  }
}

@media screen and (max-width: 667px) {
  .popup-model1__wrapper {
    margin: 2rem auto !important;
    width: 95%;
  }
}

.popup-model1__wrapper__close {
  position: absolute;
  top: 1.2rem;
  right: 1.2rem;
  width: 2rem;
  padding: 0.1rem;
  cursor: pointer;
}

.popup-model1__container {
  width: 80%;
  margin: 6rem auto;
  padding: 6rem 0 !important;
}

.popup-model1__container h3 {
  font-weight: 700;
  font-size: 24pt;
}

.popup-model1__container p {
  letter-spacing: 1px;
  font-size: 16px;
}

.popup-model1__container p span {
  font-weight: 700;
}

.popup-model1__container .grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
}

@media screen and (max-width: 667px) {
  .popup-model1__container .grid-container {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
}

.popup-model1__container .grid-container .grid-item {
  font-size: 30px;
  padding: 20px 8px !important;
}

.popup-model1__container .grid-container .grid-item > h6 {
  margin-bottom: 0.9rem;
  text-transform: uppercase;
  font-size: 16px;
  color: #333333;
}

.popup-model1__container .grid-container .grid-item > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: solid 1px #cccccc;
}

.popup-model1__container .grid-container .grid-item > div .last {
  font-size: 14px;
}

.popup-model1__container .grid-container .grid-item > div .last span {
  font-weight: 700;
}

.popup-model1__container .grid-container .grid-item > div > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popup-model1__container .grid-container .grid-item > div > div > div {
  height: 0.4rem;
  border-radius: 0.2rem;
  width: 0.6rem;
  background-color: #3e97ff;
  margin-right: 0.8rem;
}

.popup-model2 {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  display: none;
}

.popup-model2__wrapper {
  background-color: #fff;
  width: 80%;
  margin: 4.5rem auto;
  position: relative;
}

@media screen and (min-height: 1030px) {
  .popup-model2__wrapper {
    width: 600px;
  }
}

@media screen and (max-width: 667px) {
  .popup-model2__wrapper {
    margin: 2rem auto !important;
    width: 95%;
  }
}

.popup-model2__wrapper__close {
  position: absolute;
  top: 1.2rem;
  right: 1.2rem;
  width: 2rem;
  padding: 0.1rem;
  cursor: pointer;
}

.popup-model2__container {
  width: 95%;
  margin: 6rem auto;
  padding: 6rem 0 !important;
}

.popup-model2__container > div:first-child {
  width: 80%;
  margin: auto;
  text-align: center;
  margin-bottom: 1.8rem;
}

.popup-model2__container > div:first-child > h6 {
  font-size: 20px;
  font-weight: 700;
  margin: 1.4rem 0;
}

.popup-model2__container h3 {
  font-weight: 700;
  font-size: 24pt;
}

.popup-model2__container p {
  letter-spacing: 1px;
  font-size: 16px;
}

.popup-model2__container p span {
  font-weight: 700;
}

.popup-model2__container .grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
}

.popup-model2__container .grid-container .grid-item {
  font-size: 30px;
  padding: 20px 8px !important;
}

.popup-model2__container .grid-container .grid-item > h6 {
  margin-bottom: 0.9rem;
  text-transform: uppercase;
  font-size: 16px;
  color: #333333;
}

.popup-model2__container .grid-container .grid-item > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: solid 1px #cccccc;
}

.popup-model2__container .grid-container .grid-item > div .last {
  font-size: 14px;
}

.popup-model2__container .grid-container .grid-item > div .last span {
  font-weight: 700;
}

.popup-model2__container .grid-container .grid-item > div > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popup-model2__container .grid-container .grid-item > div > div > div {
  height: 0.4rem;
  border-radius: 0.2rem;
  width: 0.6rem;
  background-color: #3e97ff;
  margin-right: 0.8rem;
}

.popup-model2__main-content {
  background-color: #eeeeee;
  width: 100%;
  padding: 4rem 8rem;
  border-radius: 2rem;
}

@media screen and (max-width: 667px) {
  .popup-model2__main-content {
    padding: 2rem 1.2rem !important;
    border-radius: 0.5rem;
  }
}

.popup-model2__main-content h3 {
  text-transform: uppercase;
  margin: 2.3rem 0;
}

.popup-model2__main-content .percentages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.popup-model2__main-content .percentages__wrapper {
  background-color: #fff;
  padding: 0.7rem 0.4rem;
  border-radius: 0.7rem;
  color: #3e97ff;
  width: 32%;
}

@media screen and (max-width: 1030px) {
  .popup-model2__main-content .percentages__wrapper {
    padding: 0.1rem 0.4rem !important;
  }
}

@media screen and (max-width: 667px) {
  .popup-model2__main-content .percentages__wrapper {
    padding: 0.5rem 0.7rem;
  }
}

@media screen and (max-width: 400px) {
  .popup-model2__main-content .percentages__wrapper {
    margin: 1.2rem 0;
  }
}

.popup-model2__main-content .percentages__wrapper:first-child {
  color: #ffc320;
}

.popup-model2__main-content .percentages__wrapper:last-child {
  color: #27be0b;
}

.popup-model2__main-content .percentages__content {
  margin: 0.8rem 2rem;
}

@media screen and (max-width: 887px) {
  .popup-model2__main-content .percentages__content {
    margin: 0.4rem 1.2rem;
  }
}

@media screen and (max-width: 667px) {
  .popup-model2__main-content .percentages__content {
    margin: 0.3rem 1rem;
  }
}

.popup-model2__main-content .percentages__content p {
  font-size: 24px;
}

.popup-model2__main-content .percentages__content p span {
  color: #525252 !important;
  font-size: 12px;
}

.popup-model2__main-content .percentages__content h4 {
  text-transform: uppercase;
}

.popup-model2__color-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1.2rem 0;
  margin-bottom: 0 !important;
  width: 100%;
  height: 1.2rem;
}

.popup-model2__color-wrapper div {
  height: 100%;
  width: 33.3%;
  background-color: #3e97ff;
}

.popup-model2__color-wrapper div:first-child {
  background-color: #ffc320;
}

.popup-model2__color-wrapper div:last-child {
  background-color: #27be0b;
}

.popup-model2__colors {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.popup-model2__location-wrapper {
  position: relative;
  margin-top: 0 !important;
  margin-bottom: 4.2rem !important;
  width: 100%;
}

.popup-model2 .location-wrapper__up {
  position: absolute;
  top: -3.3rem;
  left: 30%;
  width: 2rem;
}

.popup-model2 .location-wrapper__down {
  position: absolute;
  top: 0.1rem;
  right: 30%;
  width: 2rem;
}

.popup-model2 .model-action {
  background-color: #fff;
  width: 100%;
  margin: 1.2rem auto;
  border-radius: 0.6rem;
  text-align: center;
  padding: 0.8rem 0;
  color: #cccccc;
  font-weight: 700;
  cursor: pointer;
}

.popup-model2__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #bababa;
  text-transform: capitalize;
  cursor: pointer;
}

.popup-model2__button .button-icon {
  width: 1.7rem;
  height: 1.7rem;
  background-color: #bababa;
  border-radius: 50%;
  padding: 0.5rem;
}

.popup-model3 {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  display: none;
}

.popup-model3__wrapper {
  background-color: #fff;
  width: 80%;
  margin: 4.5rem auto;
  position: relative;
}

@media screen and (min-height: 1030px) {
  .popup-model3__wrapper {
    width: 600px;
  }
}

@media screen and (max-width: 667px) {
  .popup-model3__wrapper {
    margin: 2rem auto !important;
    width: 95%;
  }
}

.popup-model3__wrapper__close {
  position: absolute;
  top: 1.2rem;
  right: 1.2rem;
  width: 2rem;
  padding: 0.1rem;
  cursor: pointer;
}

.popup-model3__container {
  width: 95%;
  margin: 6rem auto;
}

.popup-model3__container > div:first-child {
  width: 80%;
  margin: auto;
  margin-bottom: 1.8rem;
}

.popup-model3__container > div:first-child > h6 {
  font-size: 20px;
  font-weight: 700;
  margin: 1.4rem 0;
}

.popup-model3__container h3 {
  font-weight: 700;
  font-size: 24pt;
}

.popup-model3__container p {
  letter-spacing: 1px;
  font-size: 16px;
}

.popup-model3__container p span {
  font-weight: 700;
}

.popup-model3__container .grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
}

.popup-model3__container .grid-container .grid-item {
  font-size: 30px;
  padding: 20px 8px !important;
}

.popup-model3__container .grid-container .grid-item > h6 {
  margin-bottom: 0.9rem;
  text-transform: uppercase;
  font-size: 16px;
  color: #333333;
}

.popup-model3__container .grid-container .grid-item > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: solid 1px #cccccc;
}

.popup-model3__container .grid-container .grid-item > div .last {
  font-size: 14px;
}

.popup-model3__container .grid-container .grid-item > div .last span {
  font-weight: 700;
}

.popup-model3__container .grid-container .grid-item > div > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popup-model3__container .grid-container .grid-item > div > div > div {
  height: 0.4rem;
  border-radius: 0.2rem;
  width: 0.6rem;
  background-color: #3e97ff;
  margin-right: 0.8rem;
}

.popup-model3__content-wrapper {
  width: 50%;
  margin-left: 1.5rem !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.popup-model3__content-wrapper .heading {
  font-size: 22px;
}

.popup-model3__content-wrapper .heading span {
  text-transform: uppercase;
  font-weight: bold;
}

@media screen and (max-width: 667px) {
  .popup-model3__content-wrapper {
    width: 100%;
    margin-left: 0.2rem !important;
  }
}

.popup-model3__content-wrapper .middle-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.popup-model3__content-wrapper .middle-section div:first-of-type p {
  font-size: 16px;
  line-height: 1rem;
}

.popup-model3__content-wrapper .middle-section div:last-of-type {
  padding: 0 3rem;
  border: solid 1px #3e97ff;
  color: #3e97ff;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-weight: 700;
  max-height: 80px;
}

.popup-model3__content-wrapper .car-prices div:first-of-type * {
  font-size: 18px;
}

.popup-model3__content-wrapper .car-prices div:first-of-type span {
  font-size: 22px !important;
  color: #3e97ff;
}

.popup-model3__content-wrapper .car-prices div:last-of-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1.2rem 0;
  width: 100%;
  height: 0.5rem;
}

.popup-model3__content-wrapper .car-prices div:last-of-type div {
  width: 16%;
  margin-right: 0.4%;
  height: 100%;
  background-color: #cccccc;
}

.popup-model3__content-wrapper .car-prices div:last-of-type div:first-of-type {
  background-color: #3e97ff;
}

.popup-model3__main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top: solid 2px #cccccc;
  padding-top: 1.5rem;
  margin-bottom: 1.5rem;
}

@media screen and (max-width: 667px) {
  .popup-model3__main-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
}

.popup-model3 .green {
  background-color: #029932 !important;
}

.main-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-left: 3.2rem;
  padding-right: 3.2rem;
  background-color: #fff;
  border-bottom: solid 2px #e5e5e5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #e5e5e5;
}

.main-header > .logo {
  width: 12rem;
  margin-left: 2.4rem;
}

.main-header > .main-menu {
  cursor: pointer;
  font-size: 22px;
  margin-right: 3.2rem !important;
}

.main-header > .main-menu > span {
  text-transform: uppercase;
}

footer {
  background-color: #252525;
  width: 100%;
  padding: 0.8rem 3rem;
  color: #e4e4e4;
}

footer > .footer-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: solid 1px #e4e4e4;
  margin-bottom: 2.2rem;
  padding: 1.6rem 0;
}

@media screen and (max-width: 667px) {
  footer > .footer-links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
}

footer > .footer-links > div:first-of-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 667px) {
  footer > .footer-links > div:first-of-type {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
}

footer > .footer-links > div:first-of-type span:first-of-type {
  font-size: 22pt;
  font-weight: 700;
  margin-right: 0.5rem;
}

@media screen and (max-width: 667px) {
  footer > .footer-links > div:first-of-type span:last-of-type {
    margin: 1rem 0;
  }
}

footer > .footer-links > div:last-of-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer > .footer-links > div:last-of-type > span {
  margin: 0 0.6rem;
  cursor: pointer;
}

footer > .footer-content {
  text-align: center;
}

footer > .footer-content > p {
  letter-spacing: 0.05rem;
  font-size: 12px;
  text-transform: capitalize;
  line-height: 1.1rem;
  margin-bottom: 1.7rem;
}
/*# sourceMappingURL=index.css.map */